<a href="https://colab.research.google.com/github/navyaanejathegreat/Batch-50_python/blob/main/labone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#welcome to my first lab

In [ ]:
print("welcome to my first lab!")
a=10.5
print(type(a))

welcome to my first lab!
<class 'float'>

In [ ]:
print("navyaanejathegreat")

navyaanejathegreat

# STATEMENTS

In [ ]:
a=18+18
#this is a single line statement
print(a)
a=10+10+\
    20+20+20+\
    30+20+10
    #this is a multi line statement
print(a)

36
140

In [ ]:
a="navya"
print(a)
a="navya"+\
"aneja"+\
"the"+\
"great"
print(a)

navya
navyaanejathegreat

In [ ]:
l1=['a',
    'e',
    'i',
    'o',
    'u'
    ]
l1

['a', 'e', 'i', 'o', 'u']

In [ ]:
mystring="'my name is navya aneja' \n 'i am a student at upes'"

In [ ]:
mystring="'my name is navya aneja' \n 'i am a student at upes'"

# Input function

In [ ]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
sum=num1+num2
sum

enter first number:2
enter second number:3

5

In [ ]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
sum=num1+num2
sum

enter first number:50
enter second number:70

120.0

In [ ]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
mul=num1*num2
print("product is",mul)

enter first number:25
enter second number:25
product is 625

In [ ]:
num1=int(input("enter any integer:"))
num2=float(input("enter another integer:"))
mul=num1*num2
print("product is",mul)

enter any integer:89
enter another integer:2
product is 178.0

# BOOLEAN

In [ ]:
20==30

False

In [ ]:
30<20

False

In [ ]:
30>20

True

# Indentation

In [ ]:
a=10
    print(a)

IndentationError: unexpected indent (<ipython-input-26-af5ada2b054e>, line 2)

In [ ]:
a=10
print(a)

10

#MY SECOND LAB CLASS~

# Arithmetic operators

operations performed on any value to manipulate it and chnage its value

In [1]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

15
5
50
2.0
0
100000
2

In [4]:
a=17
b=3
print(a//b)
print(a/b)

5
5.666666666666667

the double slash gives only the quotient and removes the decimal part from it

# Comparsion operators