<a href="https://colab.research.google.com/github/navyaanejathegreat/Batch-50_python/blob/main/labone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#welcome to my first lab

In [ ]:
print("welcome to my first lab!")
a=10.5
print(type(a))

welcome to my first lab!
<class 'float'>

In [ ]:
print("navyaanejathegreat")

navyaanejathegreat

# STATEMENTS

In [ ]:
a=18+18
#this is a single line statement
print(a)
a=10+10+\
    20+20+20+\
    30+20+10
    #this is a multi line statement
print(a)

36
140

In [ ]:
a="navya"
print(a)
a="navya"+\
"aneja"+\
"the"+\
"great"
print(a)

navya
navyaanejathegreat

In [ ]:
l1=['a',
    'e',
    'i',
    'o',
    'u'
    ]
l1

['a', 'e', 'i', 'o', 'u']

In [ ]:
mystring="'my name is navya aneja' \n 'i am a student at upes'"

In [ ]:
mystring="'my name is navya aneja' \n 'i am a student at upes'"

# Input function

In [ ]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
sum=num1+num2
sum

enter first number:2
enter second number:3

5

In [ ]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
sum=num1+num2
sum

enter first number:50
enter second number:70

120.0

In [ ]:
num1=int(input("enter first number:"))
num2=int(input("enter second number:"))
mul=num1*num2
print("product is",mul)

enter first number:25
enter second number:25
product is 625

In [ ]:
num1=int(input("enter any integer:"))
num2=float(input("enter another integer:"))
mul=num1*num2
print("product is",mul)

enter any integer:89
enter another integer:2
product is 178.0

# BOOLEAN

In [ ]:
20==30

False

In [ ]:
30<20

False

In [ ]:
30>20

True

# Indentation

In [ ]:
a=10
    print(a)

IndentationError: unexpected indent (<ipython-input-26-af5ada2b054e>, line 2)

In [ ]:
a=10
print(a)

10

#MY SECOND LAB CLASS~

# Arithmetic operators

operations performed on any value to manipulate it and chnage its value

In [ ]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

15
5
50
2.0
0
100000
2

In [ ]:
a=17
b=3
print(a//b)
print(a/b)

5
5.666666666666667

the double slash gives only the quotient and removes the decimal part from it

# Comparsion operators

In [ ]:
a=10
b=-(a)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

BITWISE LOGIC GATE(truth table)

1.     AND(&),  OR(or),XOR(^)

*   00 |  000
*   01  | 011
*   10   | 011
*   11   | 110




2.  XOR operator is (a^b)
3. shift operator (<<)
ex a<<4
we convert a into binary and shift all the values to the left side.
in right shift operator the vlaues are shifted forward in right direction whne converted in binary number system.
//these are called bitwise shift operators
// << shifts left
// >> shifts right

# Logical Operators

when we want a relation between two operands or expressions

In [ ]:
a=10
b=5
if(a>b and a==b):
    print("success")
else:
    print("fail")
    #here and is a logical operator
    #if we use or in place of and, it will also be a logical operator
    #xor is also a logical operator than can be used

fail

Relation operator
if we say
a=10 and b=5
and say c=a>b
which is true, here c will store the relation as true this is referred to as a relational expression and operator

ques


write a program to use input function and take two variables, store two numbers and ask the user what kind of arithmetic operator they wish to perform

In [ ]:
num1= int(input("enter any integer here:"))
num2=int(input("enter another integer here:"))
op=input("enter the operator here:")
if (op=='+'):
    print("the sum is:",num1+num2)
elif(op=='-'):
    print("the difference is:",num1-num2)
elif(op=='*'):
    print("the product is:",num1*num2)
elif(op=='/'):
    print("the quotient is:",num1/num2)
elif(op=='%'):
    print("the remainder is",num1%num2)

enter any integer here:55
enter another integer here:5
enter the operator here:*
the product is: 275

In [ ]:
a=10
b=a+a
c=a+b
a
b
c

30

# CONTROL STATEMENTS

1. IF STATEMENT:
syntax-

if expression:

   statements

In [ ]:
x=10
if x<=10:
    print("hello")
    x=x+1
print("done")

hello
done

In [ ]:
x=10
if x>0:
    print("hello")
    x=x+1
print("done")

hello
done

In [ ]:
temp=int(input("Enter today's temperature:"))
if temp >30:
    print("It is a hot day")
    print("Drink plenty of water")
elif temp>20 and temp<=30:
    print("It is a good day")
elif temp>10 and temp<=20:
    print("It is a bit colder")
else:
    print("Enjoy")

Enter today's temperature:20
It is a bit colder

In [ ]:
temp=int(input("Enter today's temperature:"))
if temp >30:
    print("It is a hot day")
    print("Drink plenty of water")
elif temp>20:
    print("It is a good day")
elif temp>10:
    print("It is a bit colder")
else:
    print("Enjoy")

Enter today's temperature:15
It is a bit colder

In [ ]:
weight=int(input("Enter your weight: "))
unit=input("kgs/lbs :")
if unit=='kgs':
    lbs=weight*2.2
    print("Your weight in lbs is:",lbs)
else:
   kgs=weight*0.45
   print("your weight in kgs is:",kgs)

Enter your weight: 53
kgs/lbs :kgs
Your weight in lbs is: 116.60000000000001

In [ ]:
secret_num=4
print("you get only three chances to guess the secret number")
a=int(input("guess the secret number:"))
if a==4:
  print("You guessed it correct!")
else:
  print("The guess was wrong you have two more chances~")
b=int(input("enter your second guess:"))
if b==4:
  print("You guessed it right!")
else:
  print("the guess was wrong you have one last chance:(")
c=int(input("enter your third guess:"))
if c==4:
  print("Your guess was correct!!")
else:
  print("Your guess was wrong, you lost your chances")
print("=====the guessing game is over=====")

you get only three chances to guess the secret number

In [ ]:
#A)
print("Hello Everyone !!!")
#B)
print("hello\nworld")
#c)
print("hello\n          world")
#D)
print("'Rohit’ s date of birth is 12\05\1999'")

Hello Everyone !!!
hello
world
hello
          world
'Rohit’ s date of birth is 12999'

# LOOPS

In [ ]:
sec_num=14
guess_count=3
counter=0

while counter<guess_count:
  num=int(input("enter the guess"))
  if num==sec_num:
    print("success")
    break
  else:
    print("try again")

enter the guess12
try again
enter the guess15
try again
enter the guess14
success

In [ ]:
print("Enter 1 to start")
print("enter 2 to stop")
print("enter 3 to quit")
print("enter 4 to help")
a=int(input("enter command"))
while a!=3:
  a=int(input("enter command"))
  if a==3:
    print("quitting")
    break
  elif a==1:
    print("starting")
  elif a==2:
    print("stopping")
  elif a==4:
    print("helping")

Enter 1 to start
enter 2 to stop
enter 3 to quit
enter 4 to help

# LISTS

L1=[1,2,3,4,5]
index of a list is always zero.
the following components would be named as 0,1,2,3,4

In [2]:
l1=[1,2,3,4,5,6,7,8,9,10]
print(l1[2])
print(l1[-3])
#if we want order from reverse, it would go as -5,-4,-3,-2,-1
print(l1[2:8])

3
8
[3, 4, 5, 6, 7, 8]

In [ ]:
#if we write double colons
#[::]
#[start:step:step size]

In [4]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [6]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
#removes specified index

['apple', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [10]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [11]:
a=list((1,2,3,4,"abc",'a',7.5))
print(a)

[1, 2, 3, 4, 'abc', 'a', 7.5]